
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Raleway";
}
header{
    background :url(../images/BusHome.png)
}
/* 
.sec{
    background :url(../images/section22.png);
} */





.footer-col{
    font-size: 27px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    color: #fff;
}
.footer-col::before{
    border-bottom: 3px solid #c7f4ff;
    content: "";
    height: 3px;
    width: 36%;
    position: absolute;
    bottom: 3px;
}


*{
    font-family: "Raleway", sans-serif;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");



.container1 {
  position: relative;
    bottom: 73px;
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.text-center {
  text-align: center;
  font-size: 26px;
  font-family: Raleway;
  color: #3f70d0a1;

}

.section-heading {
    font-size: 4rem;
    padding: 0;
    font-family: Raleway;
    color: #3f70d0;
    text-shadow: 1px 1px 3px #ababab;
}

.slide-2{
  /* background: url(sec3.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 117vh; */
}




#tranding {
  padding: 4rem 0;
  scale: 0.7;

}

@media (max-width:1440px) {
  #tranding {
    padding: 0rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
  bottom: 29px;
  font-size: 27px;
  color: white;
  text-shadow: -2px 3px 10px #131313;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  color: var(--white);
}

/* .food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
} */

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 1.8rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0rem;
  left: -6px;
  font-size: 25px;
  color: #3f70d0
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  /* filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); */
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {

}

h2.food-name {
  position: relative;
  bottom: 37px;
  left: 8px;
  font-weight: 700;
  font-size: 41px;
}
